{{ define "head" }}
  <script type="text/javascript">
      <!--
    if (screen.innerWidth <= 800) {
      document.location = "/mobile";
    }
    //-->
  </script>
  {{ $title := "Constraint Systems" }}
  {{ $description := "Alternative interfaces for editing and creating images and text." }}
  <title>{{ $title }}</title>
  <meta property="description" content="{{ $description }}" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}desktop.png" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="twitter:card" content="summary_large_image" />
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <link rel="stylesheet" type="text/css" href="/mobile.css" />
  <script src="/mobile.js"></script>
{{ end }}

{{ define "main" }}
  <div
    class="container pxs py2"
    style="background: #aaa; border-bottom: solid 2px #222;"
  >
    <div id="logo" style="height: 48px; width: 118px; margin: 0 auto 12px;">
      Constraint
      <div style="position: absolute; left: 36px; top: 22px">Systems</div>
    </div>
    <div style="text-indent: 2ch;">
      A collection of experimental web-based creative tools focused on exploring
      alternative interfaces for creating and editing images and text. Most of
      the tools are keyboard-focused. You can
      <strong style="font-size: 16px; line-height: 1;">Preview</strong> recorded
      demos of them here, or
      <strong style="font-size: 16px; line-height: 1;">Launch</strong> to try
      them yourself.
    </div>
  </div>
  <div class="container" style="background: #ccc;">
    <div id="tools-header" class="py1 pxs"><strong>Tools</strong></div>
    <div>
      {{ range where .Site.RegularPages "Section" "tools_content" }}
        <div
          class="thumbnail pys pxs"
          data-title="{{ .Title }}"
          data-gif="/images/tool_gifs/{{ .Params.gif }}"
          data-gif-aspect="{{ .Params.aspect_ratio }}"
          data-url="{{ .Params.link }}"
        >
          <div>
            <img src="/images/tool_imgs/{{ .Params.image }}" />
          </div>
          <div><strong>{{ .Title }}</strong></div>
          <div>{{ .Content }}</div>
          <div class="thumbnail-button-holder">
            <div class="button thumbnail-button button-preview" role="button">
              Preview
            </div>
            <a
              href="{{ .Params.link }}"
              class="thumbnail-button button button-launch"
              target="_blank"
              >Launch</a
            >
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  <div
    class="container pxs py2"
    style="background: #aaa; border-top: solid 1px #222; display: flex; justify-content: center;"
  >
    <div id="footer-links" style="margin-left: -8px;">
      <a href="https://twitter.com/constraint_sys" target="_blank">Twitter</a
      ><a href="https://github.com/constraint-systems" target="_blank">Github</a
      ><a href="https://constraint.systems/rss.xml" target="_blank">RSS</a>
    </div>
  </div>
  <a class="button" href="/" id="desktop-link">Go to desktop</a>
{{ end }}
