/* Fonts */
@font-face {
  font-family: 'avara-custom';
  src: url('/fonts/avara.woff') format('woff');
}
@font-face {
  font-family: 'karrik-custom';
  src: url('/fonts/Karrik-Regular.woff') format('woff');
}

/* Resets */
* {
  box-sizing: border-box;
}
html,
body,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
}
a {
  color: inherit;
}

:root {
  --sidebar-width: 320px;
}

/* Fonts */
html {
  font-family: sans-serif;
  /* font-family: 'avara-custom', serif; */
  font-family: 'karrik-custom', sans-serif;
  font-size: 16px;
  line-height: 22px;
  background: #111;
  color: #eee;
}
strong {
  font-family: sans-serif;
  font-weight: 400;
  font-family: 'karrik-custom', sans-serif;
  color: white;
  color: #eee;
  color: inherit;
}
.button {
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  color: white;
  color: #eee;
  color: inherit;
}
.button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.grid-item {
  /* outline: solid 2px #666; */
  position: relative;
}
.grid-item {
    background: #111;
    outline: solid 1px #eee;
    color: #eee;
}
.pointer {
    cursor: pointer;
}
.grid-item-title {
}
.background {
    position: relative;
}
#footer-gradient {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    height: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Padding */
:root {
  --p1: 4px;
  --p2: 8px;
  --p3: 16px;
}
.p1 {
  padding: var(--p1);
}
.px1 {
  padding-left: var(--p1);
  padding-right: var(--p1);
}
.py1 {
  padding-top: var(--p1);
  padding-bottom: var(--p1);
}
.p2 {
  padding: var(--p2);
}
.px2 {
  padding-left: var(--p2);
  padding-right: var(--p2);
}
.py2 {
  padding-top: var(--p2);
  padding-bottom: var(--p2);
}
.p3 {
  padding: var(--p3);
}
.pxs {
  padding-left: 16px;
  padding-right: 16px;
}
.pys {
  padding-top: 16px;
  padding-bottom: 16px;
}
.px3 {
  padding-left: var(--p3);
  padding-right: var(--p3);
}
.py3 {
  padding-top: var(--p3);
  padding-bottom: var(--p3);
}
.mb1 {
  margin-bottom: var(--p1);
}
.mb2 {
  margin-bottom: var(--p2);
}
.mb3 {
  margin-bottom: var(--p3);
}
.spacer1 {
  width: 100%;
  height: var(--p1);
}
.spacer2 {
  width: 100%;
  height: var(--p2);
}
.spacer3 {
  width: 100%;
  height: var(--p3);
}
.relative {
    position: relative;
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.auto {
  margin: 0 auto;
}

.point {
  cursor: pointer;
}

.big-text {
  font-size: 24px;
  line-height: 24px;
}

.background-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.wide-measure {
   max-width: 132ch;
}

.measure {
  max-width: 64ch;
}

.info {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}
