* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans';
  font-family: 'Avara';
  /* font-family: 'Karrik'; */
  color: #222;
  font-size: 16px;
  line-height: 1.5;
  background: #ccc;
}
.karrik {
  font-family: 'Karrik';
}
.avara {
  font-family: 'Avara';
}
.smaller {
  font-size: 12px;
  line-height: 1.5;
}
strong {
  font-family: Karrik;
  /* font-family: 'Avara'; */
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  font-style: normal;
}

.background {
  background: #ccc;
}
img {
  max-width: 100%;
  display: block;
}
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  word-break: break-word;
}
button {
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.qspacer {
  width: 100%;
  height: 6px;
}
.hspacer {
  width: 100%;
  height: 12px;
}
.spacer {
  width: 100%;
  height: 24px;
}

.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.pagination li a {
  padding-left: 0.66ch;
  padding-right: 0.66ch;
}
.pagination li.active a {
  background: #fff;
  text-decoration: none;
}
/* button { */
/*   background: transparent; */
/* } */
.button-hover {
  background: #aaa;
}
.button-hover:hover {
  background: #999;
}

#link-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40ch, 1fr));
  justify-content: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}
.thumbnail {
  padding: 16px;
  border-top: solid 1px #222;
  /* border-top: solid 1px rgba(0, 0, 0, 0.25); */
}
.thumbnail img {
  cursor: pointer;
  margin-bottom: 4px;
}
.thumbnail.active {
  /* background: #aaa; */
}
.thumbnail.active .preview-button {
  background: #222;
  color: #ddd;
}
.thumbnail-button {
  font-family: 'Karrik';
  /* border-bottom-left-radius: 24px; */
  /* border-bottom-right-radius: 24px; */
  border: solid 1px #222;
}

.screen-preview {
  outline: solid 2px #222;
  user-select: none;
  background: #fff;
}
.screen-preview {
  cursor: pointer;
}
.screen-preview-title {
  background: #222;
  color: #ddd;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Karrik';
  height: 20px;
  padding-left: 4px;
  cursor: grab;
}
.screen-title-close,
.screen-title-launch {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}
.screen-title-launch {
  right: 20px;
}
.screen-title-close:hover,
.screen-title-launch:hover {
  background: #000;
  color: #fff;
}
.screen-preview-resize {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -6px;
  bottom: -6px;
  background: transparent;
  cursor: nwse-resize;
}
.screen-title-launch {
}

#sidebar {
  scroll-behavior: smooth;
}
