{{ define "head" }}
{{ $title := "Constraint Systems Gallery" }}
{{ $description := "Work created using the Constraint Systems tools." }}
<title>{{ $title }}</title>
<meta property="description" content="{{ $description }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}collage.png">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="twitter:card" content="summary_large_image">
{{ end }}

{{ define "main" }}
{{ partial "header" . }}
<div class="px3 sans serif-link">
<div>Filter posts by</div>
<div>Tool: 
    {{ $tool_counter := 0 }}
    {{- range .Site.Taxonomies.tools.ByCount -}}
    {{- if gt $tool_counter 0 }}, {{ end -}}
    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
    {{- $tool_counter = add $tool_counter 1 -}}
    {{- end -}}
</div>
<div>Author: 
    {{ $author_counter := 0 }}
    {{- range .Site.Taxonomies.authors.ByCount -}}
    {{- if gt $author_counter 0 }}, {{ end -}}
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
    {{- $author_counter = add $author_counter 1 -}}
    {{ end }}
  </div>

  <div class="spacer3" ></div>
 <div id="link-grid">
    {{ range where .Site.RegularPages "Section" "gallery" }}
      {{ partial "post_link" . }}
    {{ end }}
  </div>
</div>
{{ partial "footer" . }}
{{ end }}

