{{ define "head" }}
{{ $title := printf "%s - Constraint Systems Gallery" .File.BaseFileName }}
{{ $description := printf "Created by %s using %s." (delimit .Params.authors ", ") (delimit .Params.tools ", ") }}
<title>{{ $title }}</title>
<meta property="description" content="{{ $description }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Params.Image }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="twitter:card" content="summary_large_image">
{{ end }}

{{ define "main" }}
{{ partial "header" . }}
<div class="px3 sans serif-link">
  <ul class="nav-list">{{ $pages := (where .Site.RegularPages.ByDate.Reverse "Section" "gallery") }}
      {{with $pages.Next .}}
      <li><a href="{{ .RelPermalink }}">Previous</a></li>
      {{ else }}
      <li class="serif">Previous</li>
      {{ end }}
    {{with $pages.Prev .}}
      <li><a href="{{ .RelPermalink }}">Next</a></li> 
      {{ else }}
      <li class="serif">Next</li>
    {{ end }}
  </ul>

  <div style="display: none">{{ .Date.Format "2006-01-02" }}</div>
  <div class="spacer2"></div>
  <div>
    <div></div><img src="/images/{{ .Params.Image }}" />
  </div>
  <div class="spacer2"></div>
  <div><p>{{ .Content }}</p></div>
  {{ if isset .Params "source" }}
  <div><p>Source: {{ .Params.source | markdownify }}</p></div>
  {{ end }}
  <div><p>
      {{ $taxo := "authors" }}
      {{ with .Param $taxo }}
      By
      {{ range $index, $director := . }}
      {{- if gt $index 0 }}, {{ end -}}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
      <a href="{{ .Permalink }}">{{ $director }}</a>
      {{- end -}}
      {{- end -}}
      {{ end }}
    </p></div>
  <div><p>
      {{ $taxo := "tools" }}
      {{ with .Param $taxo }}
      Using
      {{ range $index, $director := . }}
      {{- if gt $index 0 }}, {{ end -}}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
      <a href="{{ .Permalink }}">{{ $director }}</a>
      {{- end -}}
      {{- end -}}
      {{ end }}
    </p></div>
     <div class="spacer3"></div>
      <div>Tool</div>
      <div class="spacer"></div>
      <div><p>
          {{ range .Param "tools" }}
          <div>
            {{ with $.Site.GetPage (printf "/tools_content/%s.md" (lower .) ) -}}
              <div class="serif">{{ .Title }}</div>
              <div>{{ .Content }}</div>
              <div><p>{{ .Params.link | markdownify }}</p></div>
            {{ end }}
          </div>
          {{ end }}
        </p></div>
 
</div>
{{ partial "footer" . }}
{{ end }}
