{{ define "head" }}
{{ $title := printf "Constraint Systems Gallery - %s" .Name }}
{{ $description := printf "Work created using by %s using the Constraint Systems tools." .Name }}
<title>{{ $title }}</title>
<meta property="description" content="{{ $description }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}collage.png">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="twitter:card" content="summary_large_image">
{{ end }}

{{ define "main" }}
{{ partial "header" . }}
<div class="measure auto p3">
  <div>
    {{ "[Gallery](/gallery)" | markdownify }}&nbsp; Author
  </div>
  <div class="spacer3"></div>
  <div>
    <div>{{ .Title}}</div>
    <div><p>{{ .Params.link | markdownify }}</p></div>
  </div>
  <div class="spacer3"></div>
  <div class="spacer2"></div>
  <div id="link-grid">
    {{ range .Pages }}
      {{ partial "post_link" . }}
    {{ end }}
  </div>
  {{ partial "footer" . }}
</div>
{{ end }}
 

