<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/cs-favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
    <link rel="stylesheet" type="text/css" href="/font.css" />
    <link rel="stylesheet" type="text/css" href="/alt.css" />
    {{ block "head" . }}{{ end }}
  </head>
  <body>
    <div class="background">
      {{ block "main" . }}{{ end }}
    </div>
  </body>
</html>
