<div class="spacer3"></div>

<div class="px3 measure">
    <ul class="nav-list">
        <li><a href="/">Index</a></li>
        <li><a href="https://github.com/constraint-systems" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/constraint_sys" target="_blank">Twitter</a></li>
        <li><a href="https://youtube.com/grantcuster" target="_blank">Youtube</a></li>
        <li><a href="https://constraint.systems/rss.xml" target="_blank">RSS</a></li>
    </ul>
</div>

<div class="spacer3"></div>

