<div class="post item">
  <div class="content">
  <div>{{ .Date.Format "2006.01.02" }}</div>
  <div>
    <a href="{{ .RelPermalink }}"><div></div><img src="/images/{{ .Params.Image }}" /></a>
  </div>
  {{ if isset .Params "source" }}
  <div><p>{{ .Content }}</p></div>
  <div><p>Source: {{ .Params.source | markdownify }}</p></div>
  {{ end }}
  <div><p>
      {{ $taxo := "authors" }}
      {{ with .Param $taxo }}
      By
      {{ range $index, $director := . }}
      {{- if gt $index 0 }}, {{ end -}}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
      <a href="{{ .Permalink }}">{{ $director }}</a>
      {{- end -}}
      {{- end -}}
      {{ end }}
    </p></div>

  <div><p>
    {{ $taxo := "tools" }}
    {{ with .Param $taxo }}
    Using
    {{ range $index, $director := . }}
        {{- if gt $index 0 }}, {{ end -}}
          {{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
          <a href="{{ .Permalink }}">{{ $director }}</a>
        {{- end -}}
    {{- end -}}
    {{ end }}
    </p></div>
  </div>
</div>
 
