{{ define "head" }}
{{ $title := "Constraint Systems" }}
{{ $description := "Alternative interfaces for editing and creating images and text." }}
<title>{{ $title }}</title>
<meta property="description" content="{{ $description }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}images/cs-share.png" />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
<meta property="twitter:card" content="summary_large_image" />
{{ with .OutputFormats.Get "rss" -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<script src="/tool-preview.js"></script>
{{ end }}

{{ define "main" }}
{{ $tools := where .Site.RegularPages "Section" "tools_content" }}

<div class="spacer3"></div>

<div class="px3">
    <div class="flex space-between">
        <div class="flex">
            <div class="mr2" style="display: none">
                C<super>S</super>
            </div>
            <div><strong>Constraint Systems</strong></div>
        </div>
        <ul class="nav-list">
            <li>Index</li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>
</div>

<div class="spacer3"></div>

<div class="px3">
    <div><strong>Tools</strong></div>
    <div class="spacer2"></div>
    <div class="sans">{{ len $tools }} alternative interfaces for creating and editing images and text</div>
</div>

<div class="spacer3"></div>

<div class="grid-holder">
    {{ range $tools }}
    <div class="px3 py2 flex grid-item thumbnail"
         data-title="{{ .Title }}"
         data-gif="/images/tool_gifs/{{ .Params.gif }}"
         data-url="{{ .Params.link }}"
         data-description="{{ .Content }}"
    >
        <div class="py1" style="font-size: 32px; line-height: 1.2;">
            <strong>{{ .Title }}</strong>
        </div>
        <div class="spacer1"></div>
        <div class="img background-contain pointer" style="flex-grow: 1; background-image: url(/images/tool_imgs/{{ .Params.image }});"></div>
        <div class="spacer1"></div>
        <div class="py1 sans">
            {{ .Content | plainify }}
        </div>
        <div class="py1">
            <ul class="nav-list flex space-between">
                <li><button class="button-preview">Preview</button></li>
                <li><a href="{{ .Params.link }}" target="_blank">Launch</a></li>
            </ul>
        </div>
    </div>
    {{ end }}
</div>

<div class="spacer3"></div>

<div class="px3 measure">
    <div><strong>About</strong></div>
    <div class="spacer2"></div>
    <div class="sans serif-link" >
    <div class="sans">Constraint Systems is a collection of experimental web-based creative tools. They are an ongoing attempt to explore alternative ways of interacting with pixels and text on a computer screen. I hope to someday build these ideas into something larger, but the plan for now is to keep the scopes small and the releases quick.</div>
    <div class="spacer3"></div>
    <div class="sans">See work created using the Constraint Systems tools <a href="/gallery">in the Gallery</a>.</div>
    <div class="spacer3"></div>
    <div class="sans">Questions? Interested in collaborating? Get in touch with <a href="https://grantcuster.com" target="_blank">Grant Custer</a>
    </div>
    </div>
</div>

<div class="spacer3"></div>

<div class="px3 measure">
    <ul class="nav-list">
        <li><a href="https://github.com/constraint-systems" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/constraint_sys" target="_blank">Twitter</a></li>
        <li><a href="https://youtube.com/grantcuster" target="_blank">Youtube</a></li>
        <li><a href="https://constraint.systems/rss.xml" target="_blank">RSS</a></li>
    </ul>
</div>

<div class="spacer3"></div>

<div id="preview-holder"></div>
{{ end }}
