{{ define "head" }}
  <script type="text/javascript">
    <!--
    if (window.innerWidth < 800) {
      document.location = "/mobile";
    }
    //-->
  </script>
  {{ $title := "Constraint Systems" }}
  {{ $description := "Alternative interfaces for editing and creating images and text." }}
  <title>{{ $title }}</title>
  <meta property="description" content="{{ $description }}" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}/images/desktop.png" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="twitter:card" content="summary_large_image" />
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <script src="/desktop.js"></script>
{{ end }}

{{ define "main" }}
  <div id="screen">
    <div id="screen-back-top" class="py2 pxs">
      <div>
        <div id="logo">
          Constraint
          <div style="position: absolute; left: 36px; top: 22px">Systems</div>
        </div>
      </div>
      <div style="display: flex; justify-items: center;">
        <strong id="preview-count"></strong>
        <div
          id="clear-button"
          class="button button-preview"
          role="button"
          style="margin-right: 8px;"
        >
          Clear
        </div>
        <div id="about-button" class="button button-preview" role="button">
          About
        </div>
      </div>
    </div>
    <div id="screen-back-bottom" class="py2 pxs">
      <div>
        <strong id="tagline">Loading...</strong>
      </div>
      <div id="footer-links">
        <a href="https://twitter.com/constraint_sys" target="_blank">Twitter</a
        ><a href="https://github.com/constraint-systems" target="_blank"
          >Github</a
        ><a href="https://constraint.systems/rss.xml" target="_blank">RSS</a>
      </div>
    </div>
  </div>

  <div id="sidebar">
    <div id="tools-header" class="py1 pxs">
      <div>
        <strong>Tools</strong>
      </div>
      <div>
        ({{ len (where .Site.RegularPages "Section" "tools_content") }})
      </div>
    </div>
    <div>
      {{ range where .Site.RegularPages "Section" "tools_content" }}
        <div
          class="thumbnail pys pxs"
          data-title="{{ .Title }}"
          data-gif="/images/tool_gifs/{{ .Params.gif }}"
          data-gif-aspect="{{ .Params.aspect_ratio }}"
          data-url="{{ .Params.link }}"
        >
          <div>
            <img src="/images/tool_imgs/{{ .Params.image }}" />
          </div>
          <div><strong>{{ .Title }}</strong></div>
          <div>{{ .Content }}</div>
          <div class="thumbnail-button-holder">
            <div class="button thumbnail-button button-preview" role="button">
              Preview
            </div>
            <a
              href="{{ .Params.link }}"
              class="thumbnail-button button button-launch"
              target="_blank"
              >Launch</a
            >
          </div>
        </div>
      {{ end }}
    </div>
  </div>

  <a class="button" href="/mobile" id="mobile-link">Go to mobile</a>
{{ end }}
