* {
  box-sizing: border-box;
}
html,
body {
  background: #ccc;
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono';
  color: #222;
  font-size: 16px;
  line-height: 24px;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: calc(68ch + 24px);
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}
.post img {
  margin-top: 4px;
  margin-bottom: 4px;
  max-height: 640px;
}
.single .post img {
  margin-top: 6px;
  margin-bottom: 6px;
}
a {
  color: inherit;
  word-break: break-word;
}
p {
  margin: 0;
  text-indent: 2ch;
}
.hspacer {
  width: 100%;
  height: 12px;
}
.spacer {
  width: 100%;
  height: 24px;
}
.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.pagination li a {
  padding-left: 0.66ch;
  padding-right: 0.66ch;
}
.pagination li.active a {
  background: #fff;
  text-decoration: none;
}
.button-hover {
  background: #ccc;
}
.button-hover:hover {
  background: #bbb;
}
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  color: black;
}
.full-image-holder {
  min-width: 68ch;
}
@media only screen and (max-width: 68ch) {
  .full-image-holder {
    min-width: 100%;
  }
}
.image-container {
  max-width: calc(68ch + 24px);
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}
@media only screen and (max-width: calc(68ch + 24px)) {
  .image-container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}
#post-img.scaled {
  cursor: zoom-in;
}
#post-img.fullsize {
  cursor: zoom-out;
}
